/* 
    Document   : template
    Created on : Nov 28, 2013, 1:43:07 PM
    Author     : TOSHIBA
    Description:
        Purpose of the stylesheet follows.
*/

#homepage_div{
    width: 75%;
    margin: 0 auto;
}
#homepage_content{
    width: 60%;
    float:  left;
}
#homepage_login{
    width: 40%;
    float:  left;
}